video {
		position: absolute !important;
		width: 200px !important;
		height: 200px !important;
		top: 0px !important;
		display: block !important;
		object-fit: cover !important;
		border-radius: 2px !important; 
	}

